<div class="content scroll">
  <md-card class="md-whiteframe-z2 card_content">
    <h2>New Submission</h2>

    <form ng-submit="submit()">
      <md-input-container>
        <label>Title</label>
        <input ng-model="formData.title"
               class="long" focus-me="focus_input">
      </md-input-container>
      <md-input-container>
        <label>URL</label>
        <input label="URL" ng-model="formData.url"
               class="long" focus-me="focus_input">
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit">
        Submit
      </md-button>
    </form>
  </md-card>
  <submission submission="submission" ng-repeat="submission in submissions"></submission>
</div>
