.git/
.idea/
cliques/dev/
cliques/.tox/
cliques/libs/
cliques/.vagrant
cliques/fantasy
cliques/frontend/node_modules
cliques/frontend/bower_components
cliques/.google/
cliques/.web/
cliques/.idea/
cliques/staticfiles
