.git/
.idea/
.vagrant
incrowd/dev/
incrowd/.tox/
incrowd/libs/
incrowd/fantasy
incrowd/frontend/node_modules
incrowd/frontend/bower_components
incrowd/ansible/
incrowd/google/
incrowd/web/
incrowd/staticfiles
incrowd/debug.log
incrowd/db.sqlite3
incrowd/dev_data.json
incrowd/app/
incrowd/config/
incrowd/bin/
incrowd/include/
incrowd/lib/
