.git/
.idea/
.vagrant
incrowd/dev/
incrowd/.tox/
incrowd/.idea/
incrowd/.vagrant/
incrowd/libs/
incrowd/fantasy
incrowd/frontend/node_modules
incrowd/frontend/bower_components
incrowd/frontend/src/lib/
incrowd/frontend/dist/
incrowd/frontend/.tmp/
incrowd/ansible/
incrowd/google/
incrowd/web/
incrowd/staticfiles
incrowd/debug.log
incrowd/db.sqlite3
incrowd/dev_data.json
incrowd/dev/
incrowd/app/
incrowd/config/
incrowd/bin/
incrowd/include/
incrowd/lib/
incrowd/man/
incrowd/shippable/
*~
*.pyc
