<md-dialog aria-label="New Post" ng-controller="NewPostCtrl">
  <h2>New Post</h2>

  <form ng-submit="new_post_submit()">
    <md-input-container>
      <label>What's up?</label>
      <input ng-model="formData.title"
             class="long" focus-me="focus_input">
    </md-input-container>
    <md-input-container>
      <label>URL</label>
      <input ng-model="formData.url" class="long">
    </md-input-container>
    <md-select placeholder="Category" ng-model="formData.category">
      <md-option ng-repeat="category in categories" value="{{ category.id }}">{{ category.name }}</md-option>
    </md-select>
    <md-checkbox ng-model="formData.nsfw" aria-label="NSFW">
      NSFW?
    </md-checkbox>
    <section layout="row"
             layout-sm="column"
             layout-align="center center"
             layout-wrap>
      <md-button class="md-raised md-primary" type="Submit" flex>Submit
      </md-button>
      <md-button class="md-raised md-warn"
                 type="Submit"
                 ng-click="cancel()"
                 flex>
          Cancel
      </md-button>
    </section>

  </form>
</md-dialog>
