<md-dialog aria-label="New Post" ng-controller="NewPostCtrl">

  <md-content>
    <h2>New Post</h2>
    <form ng-submit="new_post_submit()">
      <md-text-float label="What's up?" ng-model="post.title"
                     class="long" focus-me="focus_input"></md-text-float>

      <md-text-float label="URL" ng-model="post.url"
                     class="long"></md-text-float>
      <autocomplete id="ex1"
                    placeholder="Post category"
                    pause="100"
                    selectedobject="post.category"
                    url=$scope.search_url
                    searchfields="name"
                    titlefield="name"
                    minlength="1"
                    inputclass="form-control form-control-small"
          />
      <md-checkbox ng-model="post.nsfw" aria-label="NSFW">
        NSFW?
      </md-checkbox>
      <div class="categories">
        <h4>Top Categories:</h4>
        <div layout="horizontal" class="top_categories non-button">
          <span ng-repeat="category in top_categories" class="top_category non-button">{{ category.name }}</span>
        </div>
      </div>
      <md-button class="md-raised md-primary" type="submit">
        Submit
      </md-button>
    </form>
    </div>
  </md-content>
</md-dialog>
