<div class="scroll">
  <post></post>
  <md-list layout="column">
    <md-item ng-repeat="comment in post.comment_set">
      <comment></comment>
    </md-item>
  </md-list>
  <div layout="row">
    <div class="comment_form" flex="100">
      <form ng-submit="new_comment_submit()">
        <md-input-container flex>
          <label>Add comment</label>
          <textarea ng-model="formData.text" columns="1" rows="1"
                    focus-me="focus_input"></textarea>
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit">
          Comment
        </md-button>
      </form>
    </div>
  </div>
</div>
