<div class="content">
  <md-card>
    <md-toolbar>
      <h1 class="md-toolbar-tools">Signup</h1>
    </md-toolbar>
    <md-content class="md-padding">

      <form ng-submit="register()" ng-controller="SignupCtrl">
        <md-input-container>
          <label>Username</label>
          <input ng-model="formData.username"
                         focus-me="focus_input">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model="formData.password"
                         type="password" focus-me="focus_input">
        </md-input-container>
        <md-input-container>
          <label>Email</label>
          <input ng-model="formData.email"
                         type="email" focus-me="focus_input">
        </md-input-container>
        <md-input-container>
          <label>Invite Code</label>
          <input ng-model="formData.code"
                         focus-me="focus_input">
        </md-input-container>
        <md-button class="md-raised md-primary" type="submit">
          Signup
        </md-button>
      </form>
    </md-content>
  </md-card>
</div>
