<md-list ng-controller="ChatCtrl" md-scroll-y layout="column"
           class="chat_container chat_padding" >
    <md-item ng-repeat="message in messages" ng-class="chatBackground(message, messages[$index - 1])">
      <md-item-content ng-class="chatHighlight(message)">
        <div class="md-tile-left">
          <profile-pic id="message.user" displayUsername></profile-pic>
        </div>
        <div class="md-tile-content chat_message">
          <span class="text" compile="message.message | ChatMessageFilter"></span>
          <a class="chat_attachment" ng-if="message.attachment_url"
             ng-href="{{ message.attachment_url }}">
            <img scroll-chat-on-load ng-src="{{ message.attachment_url }}">
          </a>
          <p><a class="username" ng-href="/#/users/{{message.username}}">{{message.username}}</a> | {{ message.sent | DTSince }}</p>
        </div>
      </md-item-content>
    </md-item>
  </md-list>
