<md-dialog aria-label="New Post" ng-controller="NewPostCtrl">
  <h2>New Post</h2>
    <form ng-submit="new_post_submit()">
      <md-text-float label="What's up?" ng-model="post.title"
                     class="long" focus-me="focus_input"></md-text-float>

      <md-text-float label="URL" ng-model="post.url"
                     class="long"></md-text-float>
      <select>
        <option ng-repeat="category in category_list">{{ category }}</option>
      </select>
      <md-checkbox ng-model="post.nsfw" aria-label="NSFW">
        NSFW?
      </md-checkbox>

      <md-button class="md-raised md-primary" type="submit">
        Submit
      </md-button>
    </form>
    </div>
</md-dialog>
