<md-card class="md-whiteframe-z1 card_content profile">

  <form name="profileForm" editable-form onaftersave="editSave($index)">
    <md-toolbar class="md-theme-light">
      <div class="md-toolbar-tools title_container">
        <h2 class="username">{{ profile.username }}</h2>
        <h6 class="user_fullname"
            ng-if="profile.first_name || profile.last_name">
          ({{ profile.first_name }} {{ profile.last_name }})</h6>

      </div>

    </md-toolbar>
    <h4 ng-if="profileForm.$visible">Please keep all profile images SFW</h4>
    <h5 ng-if="profile.tagline || profileForm.$visible">
      <span class="icomoon icon-tag tagline_icon"></span><span
        editable-text="profile.tagline" e-name="tagline"
        e-placeholder="Tagline">{{ profile.tagline }}</span>
    </h5>
    <h5 ng-if="profile.location || profileForm.$visible">
      <span class="icomoon icon-location location_icon"></span><span
        editable-text="profile.location" e-name="location"
        e-placeholder="Location">{{ profile.location }}</span>
    </h5>
    <h5>Last online: {{ profile.last_updated | DTSince }}</h5>

    <div class="pic">
      <img ng-src="{{ profile.profile_pic }}">
    </div>
    <div ng-if="profileForm.$visible" class="pic_form"
         class="large-6 large-offset-3 columns">
      <span editable-url="profile.profile_pic" e-name="pic"
            e-placeholder="Profile Pic URL">{{ profile.profile_pic }}</span>
    </div>
    <h5 ng-if="profileForm.$visible">Email Notifications
      <select editable-select="profile.email_settings"
              e-ng-options="s.value as s.text for s in statuses"
              >
        {{ showStatus(user) }}
      </select>
    </h5>
    <div class="edit">
      <!-- button to show form -->
      <md-button class="md-raised md-primary"
                 ng-click="profileForm.$show()"
                 ng-show="profile.id == user.id && !profileForm.$visible"
                 type="button">
        Edit
      </md-button>
      <!-- buttons to submit / cancel form -->
          <span ng-show="profile.id == user.id && profileForm.$visible">
            <md-button class="md-raised md-primary"
                       ng-disabled="profileForm.$waiting">
              Save
            </md-button>
            <md-button class="md-raised md-warn"
                       ng-show="profile.id == user.id && profileForm.$visible"
                       ng-disabled="profileForm.$waiting"
                       ng-click="profileForm.$cancel()"
                       type="button">
              Cancel
            </md-button>
        </span>
    </div>

  </form>
</md-card>