/*!
 * notification.css
 */

.notification {
    font-size: 125%;
}

.notification-icon {
    margin-right: 5px;
}

.notifications_button {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.notification_wrapper {
    line-height: 1;
}

.notification p {
    color: #111;
    margin-bottom: 0;
    z-index: 1;
}

.notifications .remove_all {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.clear_notifications {
    margin: 10px 8px;
}

.notification .md-toolbar-tools {
    padding: 10px 64px 10px 10px;
    height: 100%;
    max-height: none;
}
