/*!
 * categories.css
 */
.category {
    float: left;
    font-size: 8px;
}

.category a,
.category a:visited,
.category a:hover,
.category a:active {
    color: white;
    font-size: 120%;
}

.right p,
.right a {
    text-align: right;
}

fieldset legend {
    background: none;
}