/*!
 * comments.css
 */
.post_comments {
    font-size: 100%;
}

.comments {
    background-color: #eeeeee;
    border-radius: 3px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.comments p {
    margin-bottom: 0;
}

.comment {
    padding: 10px;
}

.comment_form {
    padding-left: 15px;
    padding-right: 15px;
}

.comment .metadata {
    color: #FF8800;
}

.comment {
    text-overflow: ellipsis;
    border-bottom: 1px solid #ccc;
}

.comment .metadata {
    margin-top: 10px;
    /*margin-left: 20px;*/
    font-size: 80%;
}

.comment_attachment {
    max-width: 70%;
}

.comment_attachment img {
    margin: 5px 0 10px 0;
    display: block;
    max-height: 200px;
}
