/*!
 * profile.css
 */
.profile .header .username {
    display: inline;
}

.profile .header .user_fullname {
    display: inline;
    color: #777777;
    margin-left: 5px;
}

.profile .tagline_icon {
    margin-right: 5px;
}

.profile .location_icon {
    margin-right: 5px;
}

.profile .edit {
    margin-top: 10px;
}

.profile {
    text-align: center;
    margin-bottom: 35px;
    padding: 0 0 10px 0;
}

.profile .pic img {
    max-height: 400px;
    display: block;
    margin: 0 auto 10px auto;
    max-width: 100%;

}

.profile .md-button {
    font-size: 150%;
    padding: 5px 20px;
    font-weight: bold;
}

.title_container h2 {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
}

.title_container h4 {
    text-align: center;
    width: 100%;
}

.profile-circular {
    display: inline-block;
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-circular img {
    max-width: 100%;
}

.profile-pic {
    height: 48px;
    width: 48px;
}

.chat_message .md-tile-left,
.connected_users .md-tile-left {
    min-width: 48px;
    margin-right: -8px;
}

