<md-list layout="column">
  <md-item ng-repeat="comment in comments">
    <comment comment="comment"></comment>
  </md-item>
</md-list>
<div layout="row">
  <div class="comment_form">
    <form ng-submit="new_comment_submit()">
      <md-input-container flex>
        <label>Add comment</label>
        <textarea ng-model="formData.text" columns="1" style="height: 23px;"></textarea>
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit">
        Comment
      </md-button>
    </form>
  </div>
</div>
