.avatar-circular {
    max-width: 48px;
}

.avatar-circular a {
    position: relative;
}

.avatar-circular img {
    width: 46px;
    height: 46px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}
