/*!
 * icomoon.css
 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?-z3iv5n');
    src: url('../fonts/icomoon.eot?#iefix-z3iv5n') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?-z3iv5n') format('truetype'),
    url('../fonts/icomoon.woff?-z3iv5n') format('woff'),
    url('../fonts/icomoon.svg?-z3iv5n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-playlist_add:before {
    content: "\e01e";
}

.icon-queue:before {
    content: "\e01f";
}

.icon-chat:before {
    content: "\e046";
}

.icon-comment:before {
    content: "\e048";
}

.icon-forum:before {
    content: "\e04d";
}

.icon-message:before {
    content: "\e053";
}

.icon-chat_bubble:before {
    content: "\e054";
}

.icon-chat_bubble_outline:before {
    content: "\e055";
}

.icon-textsms:before {
    content: "\e061";
}

.icon-add:before {
    content: "\e069";
}

.icon-add_circle:before {
    content: "\e06b";
}

.icon-add_circle_outline:before {
    content: "\e06c";
}

.icon-block:before {
    content: "\e06f";
}

.icon-clear:before {
    content: "\e070";
}

.icon-create:before {
    content: "\e074";
}

.icon-remove:before {
    content: "\e07f";
}

.icon-send:before {
    content: "\e087";
}

.icon-insert_comment:before {
    content: "\e0e6";
}

.icon-mode_comment:before {
    content: "\e0ed";
}

.icon-cancel:before {
    content: "\e205";
}

.icon-wc:before {
    content: "\e241";
}

.icon-group:before {
    content: "\e245";
}

.icon-group_add:before {
    content: "\e246";
}

.icon-notifications:before {
    content: "\e24a";
}

.icon-notifications_none:before {
    content: "\e24b";
}

.icon-notifications_off:before {
    content: "\e24c";
}

.icon-people:before {
    content: "\e251";
}

.icon-person:before {
    content: "\e253";
}

.icon-person_add:before {
    content: "\e254";
}

.icon-person_outline:before {
    content: "\e255";
}

.icon-account_circle:before {
    content: "\e268";
}

.icon-build:before {
    content: "\e27e";
}

.icon-face:before {
    content: "\e290";
}

.icon-highlight_remove:before {
    content: "\e29c";
}

.icon-search:before {
    content: "\e2ca";
}

.icon-settings:before {
    content: "\e2cb";
}

.icon-shop_two:before {
    content: "\e2dd";
}

.icon-thumb_down:before {
    content: "\e2ed";
}

.icon-thumb_up:before {
    content: "\e2ee";
}

.icon-toc:before {
    content: "\e2f0";
}

.icon-reorder:before {
    content: "\e310";
}

.icon-http:before {
    content: "\e313";
}

/*Override to use icomoon inside md-buttons*/
md-button .md-button-inner {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: inherit;
    outline: none;
    text-transform: none;

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: inherit;
    font-family: icomoon;
    line-height: 1;
    white-space: nowrap;
    padding: 9px;

}

/*End IcoMoon*/
