/*!
 * cliques.css
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

@font-face {
    font-family: 'Baumans';
    src: url('../fonts/Baumans-Regular.ttf');
}

@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans.ttf');
}

@font-face {
    font-family: 'Play';
    src: url('../fonts/Play-Regular.ttf');
}

.content {
    height: 100%;
    display: block;
    padding: 10px 10px 15px 10px;
}

/*Site wide config*/

.title {
    text-align: center;
    font-size: 160%;
    font-family: 'Droid Sans', sans-serif;
    line-height: 26px;
    margin-bottom: 15px;
}

.label .round .category {
    float: none;
    margin-bottom: 0;
}

.top-bar {
    /*margin-bottom: 20px;*/
    border-bottom: 3px solid #FF8800;
}

.title_link {
    color: white;
    font-family: 'Baumans', cursive;
    font-weight: bold;
}

.tab-bar {
    /*margin-bottom: 20px;*/
    background-color: #222;
}

.error {
    color: red;
    font-weight: bold;
}

body, html {
    width: 100%;
    overflow-x: hidden;
    background-color: #333;
    font-family: 'Droid Sans', sans-serif;
}

body {
    height: 100%;
}

html {
    min-height: 100%;
}

.text_field {
    padding-left: 0;
    padding-right: 0;
}

.text_label {
    padding-left: 0;
    padding-right: 0;
}

.text_label label {
    vertical-align: middle;
    line-height: 100%;
}

.pagination {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.top-bar-section .inactive:not(.has-form) a:not(.button) {
    background: #333333;
    padding: 0 15px;
    line-height: 45px;
    color: white;
    padding-right: 10px;
}

.top-bar-section ul li.active > a {
    padding-right: 10px;
}

.image_container {
    max-width: 90%;
}

.outer {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 300px;
}

.inner {
    display: block;
    position: absolute;
    top: -50%;
}

.outer img {
    position: relative;
    width: 100%;
}

.main-section .tabs {
    width: 100%;
}

.main-section {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.tabs dd, .tabs .tab-title {
    width: 20%;
    padding: 0;
}

.tabs .tab-title .active a {
    background-color: #FF8800;
    color: #eee;
}

.tabs .tab-title a {
    background-color: #333;
    color: #eee;
}

.tabs .tab-title a:hover {
    background-color: #FFBB33;
}

.tabs dd, .tabs .tab-title > a {
    text-align: center;
    border-left: 1px solid black;
    padding: .5rem .25rem;

}

.top-bar-section li.active:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button) {
    height: 42px;
    background-color: #222;
}

.scroll {
    overflow-x: scroll;
}

/*textarea,*/
/*textarea:hover,*/
/*textarea:focus,*/
/*textarea:active {*/
    /*border: 0;*/
    /*outline: none;*/
    /*outline-offset: 0;*/
/*}*/

.textbox {
    vertical-align: middle;
    padding-top: 8px;
    padding-bottom: 40px;
}

.card {
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 3px;
    margin-bottom: 20px;
}

.card .close {
    float: right;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #f08a24;
    border-color: #de770f;

}

.row .row {
    margin-bottom: 20px;
}

.editable-text,
.editable-url {
    width: 100%;
}

footer {
    width: 100%;
    left: 0;
    position: fixed;
    z-index: 99;
    /*margin-bottom: 0;*/
    bottom: 0;
    height: 37px;
}

footer .button {
    margin-bottom: 0;
}

footer input[type="text"] {
    margin-bottom: 0;
}

.inner-wrap {
    height: 100%;
    padding-top: 42px;
    padding-bottom: 37px;
}

.off-canvas-wrap {
    height: 100%;
}

/*!
 * site.css
 */
@font-face {
    font-family: 'Baumans';
    src: url('../fonts/Baumans-Regular.ttf');
}

@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans.ttf');
}

@font-face {
    font-family: 'Play';
    src: url('../fonts/Play-Regular.ttf');
}

h1.title a {
    font-family: Baumans, Roboto;
    text-decoration: none;
    color: #eee;
    /*font-size: 185%;*/
}

body {
    background-color: #f2f2f2;;
}

#content {
    background-color: #f2f2f2;
}

.title h1 {

    /*margin: 7px 15px;*/
}

.title .icomoon {
    font-size: 200%;
    font-weight: bolder;
}

.title .alerts {
    position: absolute;
    left: 35px;
    top: 35px;
    border-radius: 48px;
    background-color: #f44336;
    padding-left: 5px;
    padding-right: 5px;
}

/*Material Design*/
.menu-item {
    background: none;
    border-width: 0;
    cursor: pointer;
    display: block;
    color: #333;
    font-size: inherit;
    line-height: 40px;
    max-height: 40px;
    opacity: 1;
    margin: 0;
    outline: none;
    padding: 0px 28px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 100%;
    z-index: 1;
    -webkit-transition: 0.2s ease-in-out;
    -webkit-transition-property: max-height, background-color, opacity;
    -moz-transition: 0.2s ease-in-out;
    -moz-transition-property: max-height, background-color, opacity;
    transition: 0.2s ease-in-out;
    transition-property: max-height, background-color, opacity;
}

.menu-item.ng-hide {
    max-height: 0;
    opacity: 0;
}

.menu-item:hover, .menu-item:focus {
    color: #999;
}

.menu-item.menu-sub-item.active {
    background-color: #eeeeee;
    font-weight: bold;
    color: #4285f4;
}

.menu-item.menu-title {
    color: #333;
    font-size: 16px;
    padding-left: 16px;
    text-align: left;
    text-transform: uppercase;
}

.menu-item.menu-title.active {
    font-weight: bold;
}

.menu-item.menu-title:hover,
.menu-item.menu-title:focus {
    color: #AAA;
}

.menu-icon {
    background: none;
    border: none;
}

.fab-button {
    position: absolute;
    top: 50%;
    right: 10%;
}

md-sidenav.chat-sidenav {
    width: 504px;
}

.nav-sidenav md-content {
    padding-top: 10px;
}

.middle-toolbar {
    z-index: 3;
}

.chat-content {
    overflow-x: hidden;
    padding-top: 0;
}

md-card {
    padding: 0;
    margin-bottom: 35px;
}

.card_content {
    padding: 8px;
}

.md-toolbar-tools .delete {
    cursor: pointer;
    cursor: hand;
    width: 21px;
    font-size: 185%;
    color: white;
    margin-right: 13px;
    margin-top: 12px;
    float: right;
}

/*.delete:active,*/
/*.delete:hover {*/
/*color: #CC0000;*/
/*}*/

md-content.md-content-padding .main-content {
    padding-top: 0;
}

md-sidenav {
    overflow-x: hidden;
    /*overflow-y: visible;*/
}

md-sidenav.nav-sidenav.md-locked-open {
    background-color: #f2f2f2;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

md-sidenav.nav-sidenav md-toolbar {
    z-index: 3;
}

md-sidenav.nav-sidenav md-content {
    background-color: #f2f2f2;
    overflow-x: hidden;
}

.main-toolbar {
    z-index: 3;
    height: 64px;
}

.menu {
    cursor: pointer;
    cursor: hand;
}

.hide-tab {
    display: none;
}

.notification_alert {
    color: white;
    background-color: red;
    border-radius: 28px;
    padding: 0 3px 0 6px;
    margin-right: 5px;
}

/*md-content.md-padding.content {*/
    /*padding-top: 20px;*/
/*}*/

/*Override troublesome Material rule*/
md-card > img {
    width: inherit;
}

/*Override 2 row minimum for text areas*/
md-input-container textarea.md-input {
    min-height: 32px !important;
    /*height: 32px !important;*/
}

.md-subheader .md-subheader-content {
    z-index: 2;
}
